.level {
    width: 27px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3CBCB;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
    user-select: none;
}

.level p {
    font-size: 16px;
    color: var(--text-black);
    font-weight: 700;
    pointer-events: none;
}

@media(max-width: 1464px){
    .level {
        width: 17px;
        height: 13px;
    }
    .level p {
        font-size: 10px;
    }
}

@media(max-width: 1024px){
    .level {
        width: 14px;
        height: 10px;
    }
    .level p {
        font-size: 8px;
    }
}

@media(max-width: 672px){
    .level {
        width: 10px;
        height: 8px;
    }
    .level p {
        font-size: 6px;
    }
}